@font-face {
	font-family: 'assassin';
	src: url('Assassin$.ttf');
}


body {
	background-color: black;
}
h1 {
	font-size: 3rem;
margin-left: 35%;
margin-top: 6%;
}

#instructions {
	font-family: 'assassin';
color: white;
font-size: 1.7rem;
margin-left: 30%;
margin-bottom: 5%;
}

* {
	color: white;
	font-family: 'assassin';
}
.thumbnail {
	width: 40%;
	margin-left:1rem;
	/*margin-bottom: 1rem;*/
	height: 100%;
}

a {
	color: black;
}

.filmpage {

margin-left: 12%;
margin-right: 15%;
margin-top: 1%;
height: 80%;
}

#section1 {
	width: 90%;
	display: block;
}


#section2 {
	width: 90%;
}

#up {
	margin-top: 1%;
	margin-bottom: 1%;
}

.film {
	width: 80%;
	margin-left: 10%;
	height: 500px;
	margin-top:  1.5rem;
}

iframe {
	height: 100%;
	width: 100%;
}

button {
	color: white;
	background-color: black;
	border: none;
	font-size: 2rem;
	/*margin-top: 2%;*/
	/*margin-left: 47%;*/
	font-family: 'assassin';
}

.button {
	margin-left: 45%;
	cursor: progress;
}


a .button {
	cursor: default;
}